:root {
    --main-1: #f5f5f5;
    --rainbow-gradient: linear-gradient(120deg, red, yellow, orange, green, blue, indigo, violet);
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    font-size: 20px;
}

body {
    background-color: var(--main-1);
}

#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    width: 800px;
    min-height: 100vh;
}

#controls { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#title { 
    font-size: 2rem;
}

.button:not(#custom) {
    flex: 1;
    height: 40px;
    font-size: 1rem;
    border-radius: 15px;
}


/* etch-a-sketch */

#board {
    display: grid;
    width: 800px;
    height: 800px;
    border: 3px solid black;

}

.grid-item {
    flex: 1 0 auto;
    border: 1px solid hsla(0, 0%, 30%, 0.4);
    background-color: var(--main-1);
}


/* Brushes */

#brushes {
    display: flex;
    justify-content: space-around   ;
    gap: 20px;
    width: auto;
}


#black {
    background-color: black; 
    color: var(--main-1)
}

#rainbow {
    background: var(--rainbow-gradient);
    color: var(--main-1);
}

#eraser {
    background-color: var(--main-1);

}

#custom {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

#custom:focus {
    border: none;
    outline: none;
}

#custom-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

#custom-wrapper.rainbow-custom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--rainbow-gradient);
    border: 1px solid gray;
}

#custom::-webkit-color-swatch-wrapper {
    padding: 0;
}




/* other controls */

#other-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

#size-controls {
    display: flex;
    justify-content: space-between;
}

#size {
    margin: 0 5px;
    width: 100px;
}

#current-size {
    display: block;
    width: 9rem;
    text-align: right;
}

#size-controls div {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 0.85rem;
    color: hsl(0, 0%, 40%);
}

#reset-size {
    width: 233px;
    flex: 0 0 auto;
}

#reset-size:focus {
    background-color: lightgray;
}

